* {
    margin: 0;
}
span {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.body {
    background-color: black;
}
.header{
    text-align: center;
   
margin: 5em;

}

h2 {
    color: aliceblue;
}

b {
    color: white;
}
.header, h1 {
    color: rgb(255, 102, 0);


}

.section-content{
    display: flex;
    flex-direction: column;
    
}

.selection-btn {
   margin-left: 1em;
    align-items: center;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 110em;
    height: 90px;
    border: solid 3px  white;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
  
}

.active {
    background-color: rgb(43, 41, 41);
}

.selection-btn:hover {
    background-color: rgb(43, 41, 41);
}

.luas{
    /* box-shadow: rgb(255, 255, 255) 5px 1.95px 3px 3px; */
margin-top: 50px;
font-size: 3em;
background-color: rgb(255, 102, 0);
height: 150px;

}

.luas-segitiga {
    
margin: 35px;
color:  white;
text-align: center;

}

.section-luas {
    display: flex  ;
     justify-content: space-around;
   
    
   
}

.rumus {
  text-align: center;
    justify-content: center;
    align-items: center;
   
}

.img {
    /* display: flex; */
    
    
    
   
}

img {
    margin-top: 35px;
    height: 25em;
    width: 30em;
}

h3, p {
    margin: 30px;
    color:  rgb(255, 102, 0);
}



h4 {
    box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 2px, rgb(117, 116, 116) 0px 0px 0px 2px;
    border-radius: 3px;
    margin-left: 6.9em;
    justify-content: center;
    align-items: center;
    width: 250px;
    flex-direction: column;
    display: flex;
    text-align: center;
    background-color: rgb(255, 102, 0);
    height: 50px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.section-hitung {
    display: flex;
    justify-content: space-around;
}

.section-hitung, h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

::placeholder {
    text-align: center;
}

input[type="number"] {
    height: 30px;
    width: 400px;
    margin: 5px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: black;
    color:  rgb(255, 102, 0);
    border: solid 1px white;
}

input[type="button"]:hover {
   background-color: rgb(43, 41, 41);
  
    
    
}

input[type="button"] {
    border: solid 1px white;
    margin-top: 10px;
    height: 45px;
    width: 100px;
    color:  rgb(255, 102, 0);
    background-color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button {
    border-radius: 10px;
    height: 40px;
    width: 100px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color:  rgb(212, 199, 199);
    font-weight: 700;
   font-size: smaller;
   margin-top: 50px;
}

.input-total [readonly="true"]{
    margin-top: 40px;
    height: 200px;
    background-color: black;
    width: 400px;
    border: solid 2px  rgb(255, 102, 0);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color:  rgb(255, 102, 0);
}